{% extends "global/base.html" %}
{% block content %}

    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>
        <p><strong>ID: </strong>{{ contact.id }}</p>
        <p><strong>Phone: </strong>{{ contact.phone }}</p>
        <p><strong>Email: </strong>{{ contact.email }}</p>
        <p><strong>Descrição: </strong>{{ contact.description|truncatechars:100 }}</p>
        <p><strong>Categoria: </strong>{{ contact.category }}</p>

        <div class="contact-links">
            <a href="{% url "contact:update_contact" contact.id %}" class="btn btn-link">Editar</a>
            <form action="{% url "contact:delete_contact" contact.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == "no" %}
                    <input type="hidden", name="confirmation", value="yes">
                    <button type="submit" class="btn btn-link btn-delete">Confirmar</button>
                {% else %}    
                    <button type="submit" class="btn btn-link btn-delete">Excluir</button>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}